.mycourse-list-container {
    justify-content: center;
    align-items: center;
    min-height: 92vh;
    background-color: #ffffff;
    padding: 3vh;
    border-radius: 10px;
    width: 75vw;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.mycourse-list {
    width: 95%;
    margin: 0 auto;
    padding-top: 1vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.mycourse-list-title-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.8em;
    font-weight: bold;
    margin: 5vh 0;
    color: #333;
    border-bottom: 2px solid #e2e8f0;
    padding-bottom: 1vh;
}

.mycourse-create-button {
    float: right;
    margin-top: 0.5em;
    margin-right: 2%;
    height: 5vh;
    font-size: 1vw;
    background-color: #ffffff;
    border: 2px solid #002c75;
    color: #002c75;
    border-radius: 0.5em;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.mycourse-create-button:hover {
    background-color: #002c75;
    color: #ffffff;
}

.mycourse-list-table {
    width: 100%;
    flex-grow: 1;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    padding: 4vh;
    margin-bottom: 4vh;
    overflow: hidden;
}

.mycourse-list-table thead tr {
    background-color: #b1c4e8;
    border-bottom: 2px solid #dcdcdc;
}

.mycourse-list-table tbody tr {
    border-bottom: 1px solid #dcdcdc;
    transition: background-color 0.3s;
}

.mycourse-list-table thead th,
.mycourse-list-table thead td {
    padding: 1.5vh;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid #dcdcdc;
    background-color: #e0f1ff;
    color: #333;
}

.course-clickable-row:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.mycourse-list-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.mycourse-list-table tbody td {
    padding: 1.5vh;
    text-align: left;
    font-size: 1.1em;
    color: #555;
}

.courselist-pagination {
    margin-top: auto;
    padding: 1.5vh 0;
    text-align: center;
    margin-bottom: 2vh;
}

.pagination-button {
    margin: 0 1vw;
    background-color: #ffffff;
    border: 2px solid #dcdcdc;
    color: #555;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-button.active {
    color: #ffffff;
    background-color: #384955;
    border: 2px solid #384955;
}

.pagination-button:hover:not(.active) {
    background-color: #f0f0f0;
}

.pagination-button:first-of-type,
.pagination-button:last-of-type {
    padding: 0.75em 1em;
}
