.course-post-container {
    background-color: #ffffff;
    padding: 4vw 3vw;
    border-radius: 2vh;
    box-shadow: 0 8vh 24vh rgba(0, 0, 0, 0.15);
    width: 60%;
    margin: 5vh auto;
}

.course-post-container h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 4vh;
    font-weight: bold;
    color: #2a3a4e;
}

.course-post-form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.input-field,
.textarea-field,
.input-date,
select.input-field {
    width: 100%;
    padding: 1.5vh 1vw;
    border: 0.1vh solid #ccc;
    border-radius: 1.5vh;
    font-size: 1.2em;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field:focus,
.textarea-field:focus,
.input-date:focus,
select.input-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 10vh rgba(0, 123, 255, 0.3);
    outline: none;
}

.input-field,
.input-date,
select.input-field {
    height: 6.5vh;
}

.textarea-field {
    height: 25vh;
    resize: vertical;
}

.date-container {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    margin-top: 2vh;
}

.date-field {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.input-date {
    width: 100%;
    padding: 1.5vh 1vw;
    border: 0.1vh solid #ccc;
    border-radius: 1.5vh;
    font-size: 1.1em;
    box-sizing: border-box;
    height: 6.5vh;
}

.date-field label {
    margin-bottom: 1vh;
    font-size: 1.1em;
    font-weight: bold;
    color: #444;
}

button.submit-total-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 2.5vh 3vw;
    cursor: pointer;
    border-radius: 1.5vh;
    margin-top: 3vh;
    font-size: 1.4em;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.submit-total-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
